.bg_slides_top {
background:url("../images/bg_slides_top.png") no-repeat scroll 0 0 transparent;
height:10px;
position:absolute;
width:476px;
z-index:998;
margin-left:-450px;
}
.bg_slides_btn {
background:url("../images/bg_slides_btn.png") no-repeat scroll 0 0 transparent;
height:10px;
margin-top:528px;
position:absolute;
width:476px;
z-index:998;
margin-left:-450px;
}
.footer-copyright {
float:right;
text-align:right;
width:400px;
}
.payforms {
float:right;
width:450px;
}