<?xml version="1.0"?>

<config>
   <sections>
        <enhancedgrid translate="label">
            <groups>
                <massrelater translate="label" module="massrelater">
                    <label>Mass Product Relater Options</label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <isenabled translate="label">
                            <label>Enable Mass Relater</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </isenabled>
                        <enablerelation translate="label">
                            <label>Enable Relations</label>
                            <comment>This shows/hides "relate-to" mass actions.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enablerelation>
                        <enablecrosssell translate="label">
                            <label>Enable Cross-sell</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enablecrosssell>
                        <enableupsell translate="label">
                            <label>Enable Up-sell</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enableupsell>
                    </fields>
                </massrelater>
            </groups>
        </enhancedgrid>
    </sections>
</config>
