<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_Prozoom>
            <version>1.2.0</version>
        </TM_Prozoom>
    </modules>
    <global>
        <helpers>
            <prozoom>
                <class>TM_Prozoom_Helper</class>
            </prozoom>
        </helpers>
        <blocks>
            <prozoom>
                <class>TM_Prozoom_Block</class>
            </prozoom>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <prozoom>
                    <file>prozoom.xml</file>
                </prozoom>
            </updates>
        </layout>
    </frontend>
    <default>
        <prozoom>
            <general>
                <enabled>1</enabled>
                <observeClick>1</observeClick>
                <zoomType>standart</zoomType>
                <imageOpacity>0.2</imageOpacity>
                <alwaysOn>0</alwaysOn>
                <preloadImages>0</preloadImages>
                <showPreload>1</showPreload>
                <preloadText>Loading</preloadText>
            </general>
            <lens>
                <enabled>1</enabled>
                <cursor>crosshair</cursor>
                <cursorSmall>default</cursorSmall>
                <reset>1</reset>
                <opacity>0.6</opacity>
            </lens>
            <stage>
                <position>right</position>
                <width>265</width>
                <height>265</height>
                <xOffset>10</xOffset>
                <yOffset>0</yOffset>
                <showTitle>1</showTitle>
                <showEffect>fade</showEffect>
                <hideEffect>none</hideEffect>
                <showSpeed>0.3</showSpeed>
                <hideSpeed>0.3</hideSpeed>
            </stage>
        </prozoom>
    </default>
</config>